// views/partials/header.ejs
nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        span.glyphicon.glyphicon.glyphicon-tree-deciduous
        |                 Pug Is Fun
    ul.nav.navbar-nav
      li
        a(href='/users') Users
      li
        a(href='/about') About