doctype html
// views/pages/index.ejs
html(lang='en')
  head
    include partials/head.pug
  body.container
    header
    include partials/header.pug
    main
      .jumbotron
        h1 This is great
        p Welcome to templating using Pug
    footer
      include partials/footer.pug
